<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinterest profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%-include('header')-%>
    <div class="containerpers">
        <div class="cardpers">
          <div class="profile-picture">
            <a href="/images/uploads/<%= user.dp %>">
                <img id="profileImage" src="/images/uploads/<%= user.dp %>" >
            </a>  
        </div>
        <button onclick="displayEditProfilePicture()" class="edit-button">Edit</button>
          <h2 class="name"><%= user.fullname %></h2>
          <h3 class="username">@<%= user.username %></h3>
          
          <!-- <a href="/add" class="button">Add Post</a> -->
          <button onclick="displayAddForm()" class="button">Add Post</button>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <form action="/upload" method="post" enctype="multipart/form-data">
              <div class="form-group">
                  <input type="text" name="filecaption" placeholder="Caption">
              </div>
              <div class="form-group">
                  <input type="file" name="file">
              </div>
              <div class="form-group">
                  <button type="submit">Upload</button>
              </div>
          </form>
      </div>
  </div>

  <!-- modal for edit -->

  <div id="profilePictureModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Change Profile Picture</h2>
        <form id="profilePictureForm" action="/uploadprofile" method="post" enctype="multipart/form-data">
            <input type="file" id="newProfilePicture" name="Profilepic">
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<!-- ----------------- -->
    
<div class="container">
    <% user.posts.forEach(function(post) { %>   
        <div class="box">
            <a href="/images/uploads/<%= post.image %>">
                <img src="/images/uploads/<%= post.image %>" alt="image">
            </a>
            <div class="caption">
                <div class="caption-content">
                    <%= post.imageText %>
                </div>

                <div class="dropdown">
                    <button class="dropdown-button" onclick="toggleDropdown(this)">&#x22EE;</button>
                    
                    <form class="remove-form" action="/del" method="post" style="display: none;">
                        <input type="hidden" name="id" value="<%= post._id %>">
                        <button type="submit">remove</button>
                    </form>
                </div>
                    
            </div>
        </div> 
    <% }) %>
</div> 


  <script>
        // Function to display the add page form as a popup
        function displayAddForm() {
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
    
            modal.style.display = "block";
    
            span.onclick = function() {
                modal.style.display = "none";
            }
    
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        // for edit

        function displayEditProfilePicture() {
            var modal = document.getElementById("profilePictureModal");
            modal.style.display = "block";
        }

        function closeModal() {
            var modal = document.getElementById("profilePictureModal");
            modal.style.display = "none";
        }


        //delete

        function toggleDropdown(element) {
        var dropdown = element.closest('.dropdown');
        var removeForm = dropdown.querySelector('.remove-form');
        if (removeForm.style.display === 'none') {
            removeForm.style.display = 'block';
            window.addEventListener('click', hideRemoveFormOnClickOutside);
        } else {
            removeForm.style.display = 'none';
            // Remove event listener when hiding remove form
            window.removeEventListener('click', hideRemoveFormOnClickOutside);
        }
        event.stopPropagation();
    }

    function hideRemoveFormOnClickOutside(event) {
        var removeForms = document.querySelectorAll('.remove-form');
        removeForms.forEach(function(removeForm) {
            if (!removeForm.contains(event.target)) {
                removeForm.style.display = 'none';
                window.removeEventListener('click', hideRemoveFormOnClickOutside);
            }
        });
    }
        
  </script>
    
  </body>
</html>