<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinterest profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%-include('header')-%>
    <div class="containerpers">
        <div class="cardpers">
          <div class="profile-picture">
            <img id="profileImage" src="/images/uploads/<%= user.dp %>" >  
        </div>
        <button onclick="displayEditProfilePicture()" class="edit-button">Edit</button>
          <h2 class="name"><%= user.fullname %></h2>
          <h3 class="username">@<%= user.username %></h3>
          
          <!-- <a href="/add" class="button">Add Post</a> -->
          <button onclick="displayAddForm()" class="button">Add Post</button>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <form action="/upload" method="post" enctype="multipart/form-data">
              <div class="form-group">
                  <input type="text" name="filecaption" placeholder="Caption">
              </div>
              <div class="form-group">
                  <input type="file" name="file">
              </div>
              <div class="form-group">
                  <button type="submit">Upload</button>
              </div>
          </form>
      </div>
  </div>

  <!-- modal for edit -->

  <div id="profilePictureModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Change Profile Picture</h2>
        <form id="profilePictureForm" action="/uploadprofile" method="post" enctype="multipart/form-data">
            <input type="file" id="newProfilePicture" name="Profilepic">
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<!-- ----------------- -->
    
<div class="container">
    <% user.posts.forEach(function(post) { %>   
        <div class="box">
            <a href="/images/uploads/<%= post.image %>">
                <img src="/images/uploads/<%= post.image %>" alt="image">
            </a>
            <div class="caption">
                <%= post.imageText %>

                    <span class="ellipsis" onclick="toggleDropdown(this)">&#x22EE;</span>
                    
            </div>
        </div> 
    <% }) %>
</div> 


  <script>
        // Function to display the add page form as a popup
        function displayAddForm() {
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
    
            modal.style.display = "block";
    
            span.onclick = function() {
                modal.style.display = "none";
            }
    
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        // for edit

        function displayEditProfilePicture() {
            var modal = document.getElementById("profilePictureModal");
            modal.style.display = "block";
        }

        function closeModal() {
            var modal = document.getElementById("profilePictureModal");
            modal.style.display = "none";
        }


        //delete

        
  </script>
    
  </body>
</html>